@use "./normalize";
@use "./fonts";
@use "shared/styles/functions";
@use "shared/styles/mixins";

html {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  color: functions.color('gray800')
}

:root {
  --primary: #17696A;
  --success: #03CEA4;
    --danger:#FF4242;
    --warning:#F89828;
    --info:#5A87FC;
    --gray900:#1E212C;
    --gray800:#424551;
    --gray700:#787A80;
    --gray600:#9A9CA5;
    --gray500:#B3B7BC;
    --gray400:#D7DADD;
    --gray300:#E5E8ED;
    --gray200:#F4F5F6;
    --gray100:#F9F9F9;
}

.visually-hidden {
  @include mixins.visually-hidden
}