@use 'shared/styles/functions';

.header__extra {
    background-color: functions.color('gray200');
}

.header__extra-inner {
    margin: 0 auto;
    width: 1230px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    display: grid;
    grid-auto-flow: column;
    margin-left: auto;
    column-gap: 20px;
    height: 45px;
    max-width: 600px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.header__content {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}